/* global ruls */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  position: relative;
  transition-property: background;
  transition-duration: 1s;
}
li:hover {
  background: #404040;
  color: #fff;
}
/* hover for the image border radius */
img {
  position: relative;
  transition-property: border-radius;
  transition-duration: 1s;
  margin-bottom: 30px;
}
img:hover {
  border-radius: 20px;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 0.7rem;
  padding: 0.3rem 2rem;
  box-shadow: 0px 0px 5px 1px #737373;
  position: relative;
}
/* Animation on the images right to left */
.responsive-img {
  position: relative;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes myanimation {
  0% {
    left: 0;
  }
  20% {
    left: -20px;
  }
  40% {
    right: -10px;
  }
  50% {
    right: -20px;
  }
  60% {
    left: 20px;
  }
  80% {
    right: 20px;
  }
  75% {
    right: 0px;
  }
  100% {
    left: 0px;
  }
}

/* Animation from left */
.content-left {
  position: relative;
  animation-name: content-l;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content-l {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

/* Animation from right */
.content-right {
  position: relative;
  animation-name: content-r;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content-r {
  0% {
    right: -800px;
  }
  100% {
    right: 0;
  }
}

h1,
h3,
h2 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
/*aimation on the h1 from top  */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 2rem 0;
  position: relative;
  animation: heading;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  font-family: "Chilanka", cursive;
}

@keyframes heading {
  0% {
    top: -250px;
  }
  100% {
    top: 40px;
  }
}
h1::after {
  content: "";
  position: absolute;
  background-color: brown;
  width: 12rem;
  height: 5px;
  bottom: 0;
  margin-left: -180px;
  border-radius: 30px;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
  position: relative;
}
h2::after,
h2::before {
  content: "";
  position: absolute;
  background-color: brown;
  width: 3rem;
  height: 0.3rem;
  margin-top: 18px;
}
h2::after {
  margin-left: 20px;
}

h2::before {
  margin-left: -60px;
}
@media (max-width: 599px) {
  h3 {
    font-size: 10px;
  }
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class*="col-f"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.colf-lg-3 {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}

.colf-lg-4 {
  -ms-flex: 0 0 32.333333%;
  flex: 0 0 32.333333%;
  max-width: 32.333333%;
}

.colf-lg-6 {
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  max-width: 49%;
}

.colf-lg-12 {
  -ms-flex: 0 0 99%;
  flex: 0 0 99%;
  max-width: 99%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 599px) {
  .colf-sm-6 {
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
  }
  .colf-sm-12 {
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    max-width: 99%;
  }
  .colf-sm-3 {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    max-width: 24%;
  }
  .colf-sm-4 {
    -ms-flex: 0 0 32.333333%;
    flex: 0 0 32.333333%;
    max-width: 32.333333%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
  .colf-md-6 {
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
  }

  .colf-md-12 {
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    max-width: 99%;
  }
  .colf-md-3 {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    max-width: 24%;
  }
  .colf-md-4 {
    -ms-flex: 0 0 32.333333%;
    flex: 0 0 32.333333%;
    max-width: 32.333333%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .colf-lg-6 {
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
  }
  .colf-lg-12 {
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    max-width: 99%;
  }
  .colf-lg-3 {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
    max-width: 24%;
  }
  .colf-lg-4 {
    -ms-flex: 0 0 32.333333%;
    flex: 0 0 32.333333%;
    max-width: 32.333333%;
  }
}

/* float gird system */

[class*="col-"] {
  float: left;
  min-height: 475px;
}

@media (max-width: 350px) {
  [class*="col-"] {
    float: left;
    min-height: 763px;
  }
}
.col-lg-6 {
  width: 49%;
}
.col-lg-12 {
  width: 99%;
}
.col-lg-3 {
  width: 24%;
}
.col-lg-4 {
  width: 32.33333%;
}
.height {
  min-height: 800px;
}
img {
  width: 100%;
}

/* Start my framework */

/* conatiner fluid */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.grid::after {
  content: "";
  display: table;
  clear: both;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 599px) {
  .col-sm-6 {
    width: 49%;
  }
  .col-sm-12 {
    width: 99%;
  }
  .col-sm-3 {
    width: 24%;
  }
  .col-sm-4 {
    width: 32.33333%;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    content: "";
    position: absolute;
    background-color: brown;
    width: 6rem;
    height: 4px;
    bottom: 0;
    margin-left: -90px;
    border-radius: 30px;
  }
  .height {
    min-height: 568px;
  }
  li{
    padding: 0.3rem 1rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
  .col-md-6 {
    width: 49%;
  }
  .col-md-12 {
    width: 99%;
  }
  .col-md-3 {
    width: 24%;
  }
  .col-md-4 {
    width: 32.33333%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .col-lg-6 {
    width: 49%;
  }
  .col-lg-12 {
    width: 99%;
  }
  .col-lg-3 {
    width: 24%;
  }
  .col-lg-4 {
    width: 32.33333%;
  }
}

/* responsive img */

/* .responsive-img {
    width: 100%;
  }
   */
/* Text center */
.text-center {
  text-align: center;
}
.mr-1 {
  margin-right: 1%;
}
.pt-5 {
  padding-top: 5rem;
}
.pt-10 {
  padding-top: 10rem;
}
.rtl {
  direction: rtl;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
